!/input/example.png
!/web/extensions/core/
!/web/extensions/logging.js.example
*.ckpt
*.h5
*.joblib
*.mlmodel
*.onnx
*.pb
*.pbtxt
*.pkl
*.png
*.pt
*.pth
*.py[cod]
*.safetensors
*.tflite
*.webp
.idea/
/.vs
/input/
/models/
/output/
/temp/
/tests-ui/data/object_info.json
/user/
/web/extensions/*
/workflows*/*.json
Dockerfile
__pycache__
__pycache__/
comfy_mtb.wsb
compose.yaml
custom_nodes/
extra_model_paths.yaml
node_modules/
venv/
wheels/
workspace*/
